*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman';
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Gill Sans MT';
    color: black;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    border: 2px solid black;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size: 25px;
    font-weight: 500;
    font-family: 'monospace';
    color: darkblue;
}

h2{
    font-family: 'Gill Sans MT';
    font-weight:bold;
    font-size: 45px;
    margin-bottom: 20px;
    color: darkblue;
    width: 100%;
    line-height: 50px;
}

p{
    font-family: 'Monospace';
    font-weight: 200;
    font-size: 20px;
    color: black;
    position: right;
    text-align: center;
}

a.tbl-biru{
    background: darkblue;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background: red;
    text-decoration: none;
}

b{
    margin: 20px 5px 20px 5px;
    padding: 20px 5px 20px 5px;
}

.tengah{
    text-align: center;
    width: 100%;
}

#kontak{
    background: #dedede;
    padding: 40px 5px 40px 5px;
    margin-bottom: auto;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: auto;
    text-align: center ;
}

h1{
    font-family: 'Comic Sans MS';
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
    color: darkblue;
    width: 100%;
    line-height: 40px;
}